/app/etc/local.xml

maintenance.flag
php.ini.sample
modman
LICENSE.AFL.txt
LICENSE.txt
LICENSE.html
install.php
install.php.sample
index.php
index.php.sample
README.md
RELEASE_NOTES.txt
.DS_Store
error_log
*.log
*.bak
*.bak.*
*.thumbs/
.DS_Store
Thumbs.db
.svn
*.swp

/.htaccess

var/
/var/*
!/var/.htaccess

skin/install/

shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php


media/import/
media/catalog/product/cache/
media/css/
media/js/

magmi/

lib/flex/
lib/googlecheckout/
lib/LinLibertineFont/
lib/PEAR/
lib/Varien/
lib/Zend/

includes/

errors/

downloader/.cache
downloader/cache.cfg
downloader/connect.cfg

dev/

favicon.ico



composer/








