<?xml version="1.0"?>
<config>
	<sections>
		<!-- payment tab -->
		<payment>
			<groups>
				<firstdataglobalgateway translate="label" module="paygate">
                    <label>Firstdata Global Gateway E4</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
						<title translate="label">           
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>     
                            <show_in_default>1</show_in_default> 
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>    
                        </title>
                        <username translate="label">
                            <label>Username</label> 
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </username>	
                        <gatewayid translate="label">
                            <label>Gateway ID</label> 
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gatewayid>
                        <gatewaypass translate="label">
                            <label>Gateway Password</label> 
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gatewaypass>						
                        <payment_action translate="label">      
                            <label>Payment Action</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firstdataglobalgateway/firstdataglobalgateway_source_paymentAction</source_model>
                            <sort_order>6</sort_order>             
                            <show_in_default>1</show_in_default> 
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>    
                        </payment_action>
						<order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firstdataglobalgateway/firstdataglobalgateway_source_processing</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>    
                        </order_status>
                        <test translate="label">            
                            <label>Test mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>           
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>    
                        </test>
                        <debug translate="label">           
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>         
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>    
                        </debug>
                        <useccv translate="label">
                            <label>Credit Card Verification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </useccv>
                        <cctypes translate="label">
                            <label>Credit Card Types</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>firstdataglobalgateway/firstdataglobalgateway_source_cctype</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cctypes>						
                        <merchant_email translate="label">
                            <label>Merchant's email</label>
                            <frontend_type>text</frontend_type>  
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>    
                        </merchant_email>
						
						<process_level3_data translate="label">
                            <label>Do you want to send Level III Card Data</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </process_level3_data>
						<commodity_code translate="label">
                            <label>General Commodity Code</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firstdataglobalgateway/firstdataglobalgateway_source_commoditycodes</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>If, you have selected Level III Data then, this value is mandatory.</comment>
                        </commodity_code>
						<unit_of_measure translate="label">
                            <label>General Unit of Measure</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firstdataglobalgateway/firstdataglobalgateway_source_unitsofmeasure</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>If, you have selected Level III Data then, this value is mandatory</comment>
                        </unit_of_measure>
						
						<process_soft_descriptor translate="label">
                            <label>Do you want to send Soft Descriptors</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </process_soft_descriptor>
						<dbaname translate="label">
                            <label>DBAName</label> 
                            <frontend_type>text</frontend_type>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Needed only if, you have selected to send Soft Descriptors</comment>
                        </dbaname>
						<street translate="label">
                            <label>Street</label> 
                            <frontend_type>text</frontend_type>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Needed only if, you have selected to send Soft Descriptors</comment>
                        </street>
						<city translate="label">
                            <label>City</label> 
                            <frontend_type>text</frontend_type>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Needed only if, you have selected to send Soft Descriptors</comment>
                        </city>
						<region translate="label">
                            <label>Region</label> 
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Needed only if, you have selected to send Soft Descriptors</comment>
                        </region>
						<postalcode translate="label">
                            <label>PostalCode</label> 
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Needed only if, you have selected to send Soft Descriptors</comment>
                        </postalcode>
						<countrycode translate="label">
                            <label>CountryCode</label> 
                            <frontend_type>text</frontend_type>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Needed only if, you have selected to send Soft Descriptors</comment>
                        </countrycode>
						<mid translate="label">
                            <label>Merchant ID</label> 
                            <frontend_type>text</frontend_type>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Needed only if, you have selected to send Soft Descriptors</comment>
                        </mid>
						<mcc translate="label">
                            <label>Merchant Category Code</label> 
                            <frontend_type>text</frontend_type>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Needed only if, you have selected to send Soft Descriptors</comment>
                        </mcc>
						<merchantcontactinfo translate="label">
                            <label>Merchant Contact Info</label> 
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Needed only if, you have selected to send Soft Descriptors</comment>
                        </merchantcontactinfo>
						
                        <allowspecific translate="label">   
                            <label>Payment from applicable countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>50</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>    
                        </allowspecific>
                        <specificcountry translate="label">     
                            <label>Payment from Specific countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>51</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website> 
                            <show_in_store>1</show_in_store>    
                        </specificcountry>
                        <min_order_total>
                            <label>Minimum Order Total</label>  
                            <frontend_type>text</frontend_type>
                            <sort_order>98</sort_order>        
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website> 
                            <show_in_store>1</show_in_store>    
                        </min_order_total>
                        <max_order_total>
                            <label>Maximum Order Total</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>99</sort_order>  
                            <show_in_default>1</show_in_default> 
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>       
                        </max_order_total>						
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>    
                            <sort_order>100</sort_order>         
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>    
                        </sort_order>
                    </fields>
				</firstdataglobalgateway>
			</groups>
		</payment>
	</sections>
</config>